{{>header}}

<form action="/Usuarios/editUsuario" method="post" enctype="multipart/form-data">
    <h2>Usuario "{{usuario.name}}"</h2>
    <h2>Usuario "{{usuario.id}}"</h2>

    <input type="hidden" name="id" value="{{usuario.id}}" />
    <p>Nombre: </p>
    <input type='text' name='name' value="{{usuario.name}}"/>
    <p>Correo:</p>
    <input type='text' name='email' placeholder="Email"/>
    <p>Nombre de usuario(username)</p>
    <input type='text' name='username'  placeholder="Username"/>
    <p>Contraseña</p>
    <input type='text' name='pass' placeholder="pass"/>

    <input type="hidden" name="_csrf" value="{{token}}" />
    <p>
        <button onclick="location.href='/Usuario/{{usuario.id}}'">Cancel</button>
        <input type="submit" value="Save" />
    </p>
</form>

{{>footer}}}