{{>header}}

<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<form action="registroUsuario" method="post">   <!-- PARECE SER QUE AQUI SE PONE la URL de los métodos POST y GET homónimos, no el nombre del método -->
    <p>Nombre: </p>
    <input type='text' name='name'/>
    <p>Primer apellido:</p>
    <input type='text' name='Sname1'/>
    <p>Segundo apellido:</p>
    <input type='text' name='Sname2'/>
    <p>Correo:</p>
    <input type='text' name='email'/>
    <p>Nombre de usuario(username)</p>
    <input type='text' name='username'/>
    <p>Contraseña</p>
    <input type='text' name='pass'/>

    <input type="hidden" name="_csrf" value="{{token}}" />
    <input type='submit' value='Enviar'/>
</form>
</body>
</html>

{{>footer}}