
<!DOCTYPE html>
<!-- Configuracion de idioma -->
<html lang="es">

<!-- configuración básica -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- para pantallas más pequeñas -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Descripción de titulos -->
    <title>Fluff&Paws</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- para el css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <!-- Scrollbar -->
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>

<!-- Página web como tal -->
<body>

  <!-- banner superior -->
  <div class="header_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div><a href="index.html"><img src="/static/images/logo.png" width="100" height="100" alt=""></a></div>
            </div>
            <div class="col-md-8">
                <div class="menu_text">
                    <ul>
                        <li class="active">
                            <div id="myNav" class="overlay">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <div class="overlay-content">
                                    <a href="index.html">Inicio</a>
                                    <a href="care.html">Cuidados</a>
                                    <a href="gallery.html">Adopta</a>
                                    <a href="shelters.html">Protectoras</a>
                                    <a href="contact.html">Contacto</a>
                                </div>
                            </div>
                            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  <!-- Fin banner superior -->

    <!--Aquí le metemos nuestra cabecera predeterminada-->
    <title>Inicio de sesión</title>
  
    <div class="login-container">
      <h2>Inicio de sesión</h2>
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">
      </div>
      <div class="form-group">
        <input type="submit" value="Iniciar sesión">
      </div>
      <!--La etiqueta br es equivalente a presionar enter, metemos doble para que haya separación-->
      <div class="form-group"> 
        <text>Si no tienes cuenta:</text> 
        <link><a class="link" href="registro.html">Regístrate</a></link>
      </div>
      <div class="form-group"> 
          <!-- Si olvidamos la contraseña -->  
          <a class="link" href="#">¿Olvidaste tú contraseña?</a> 
      </div>
    </div>
        
        
        
            
        <!-- El pop up -->
        <div id="window-notice" class="window-notice" >
          <div class="content">
            <div class="content-text"> 
              <h2>Recuperar la contraseña</h2>
              <div class="content-text"> Indique el correo asociado a su cuenta y le enviaremos un email con las instrucciones de recuperación.</div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
              </div>
            </div>
            <a class="aceptar-button" href="#window-notice">Aceptar</a>
          </div>
        </div>
        
      </div>
    </div>
  <!-- banners inferiores -->
<div class="section_footer">
  <div class="container">
      
      <div class="col-12">
          <div class="row">
            <li class="footer-logo"><img src="/static/images/logo.png" width="250" height="250" alt=""></li>
              <div class="col-6">
                  <h2 class="shop_text">Enlaces de interés</h2>
                  <div class="image-icon"><a href="#"><img src="/static/images/built-icon.png" alt=""><span class="pet_text">Nuestras marcas recomendadas</span></a></div>
                  <div class="image-icon"><a href="#"><img src="/static/images/built-icon.png" alt=""><span class="pet_text">Educadores caninos</span></a></div>
                  <div class="image-icon"><a href="#"><img src="/static/images/built-icon.png" alt=""><span class="pet_text">Apadrina a un animal</span></a></div>
                  <div class="image-icon"><a href="#"><img src="/static/images/built-icon.png" alt=""><span class="pet_text">Asuntos legales</span></a></div>
                  <div class="image-icon"><a href="#"><img src="/static/images/built-icon.png" alt=""><span class="pet_text">Política de privacidad</span></a></div>
              </div>
          </div>
      </div>
      <br/>
      <br/>
      <div class="contacto">
          <div class="row">
              <div class="col-12">
                  <div class="icons">
                      <ul>
                          <li><a href="#"><img src="/static/images/fb-icon.png" alt=""></a></li>
                          <li><a href="#"><img src="/static/images/twitter-icon.png" alt=""></a></li>
                          <li><a href="#"><img src="/static/images/google-icon.png" alt=""></a></li>
                          <li><a href="#"><img src="/static/images/linkedin-icon.png" alt=""></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="copyleft">2023 - Licencia Pública General de GNU.</div>
  </div>
</div>
<!-- fin banner inferior -->

<!-- Javascript files-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.0.0.min.js"></script>
<script src="/static/js/plugin.js"></script>
<!-- sidebar -->
<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/custom.js"></script>
<!-- javascript -->

<script>
  $(document).ready(function(){
      $(".fancybox").fancybox({
          openEffect: "none",
          closeEffect: "none"
      });

      $(".zoom").hover(function(){

          $(this).addClass('transition');
      }, function(){

          $(this).removeClass('transition');
      });
  });
</script>


<script>
  function openNav() {
      document.getElementById("myNav").style.width = "100%";
  }

  function closeNav() {
      document.getElementById("myNav").style.width = "0%";
  }

  function closePopUp(){
      document.getElementById("window-notice").style.width = "0%";
  }
</script>

</body>
</html>
