{{>header}}
<meta charset="UTF-8"/>
<body>
<form action="/Animales/adoptar/{{animal.id}}" method="post">
    <h5>Inicia el proceso de adopción mandándole un mensaje a la protectora</h5>
    <h5>{{animal.name}} se encuentra en la protectora: {{animal.prtOrigen}}</h5>
    <br>
    <h5>Recibirás un mensaje en cuanto la adopción sea aprobada</h5>

    <label for="eMailRemitente">Correo electrónico:</label>
    <input type='text' id="eMailRemitente" name='eMailRemitente' required><br><br>

    <label>Enviar a la protectora: </label>
    <label>
        <input type="radio" name="prtId" value="{{animal.prtOrigen.id}}">
        {{animal.prtOrigen.name}}
    </label>
    <!--<input type="text" name="prtId" value="" /> -->

    <input type="hidden" name="_csrf" value="{{token}}" />
    <input type="submit" value="Enviar">
</form>
</body>

{{>footer}}