{{>header}}

<form action="/Protectoras/editProtectora" method="post" enctype="multipart/form-data">

    <h2>Protectora "{{shelter.name}}"</h2>
    <h2>Protectora "{{shelter.id}}"</h2>

    <p>Nombre: </p>
    <input type='text' name='name' value="{{shelter.name}}"/>
    <p>Licencia:</p>
    <input type='text' name='license' value="{{shelter.license}}"/>
    <p>Localizacion:</p>
    <input type='text' name='location' value="{{shelter.location}}"/>
    <p>Teléfono:</p>
    <input type='text' name='tlf' value="{{shelter.tlf}}"/>
    <p>Email:</p>
    <input type='text' name='eMail' value="{{shelter.name}}"/>

    <input type="hidden" name="_csrf" value="{{token}}" />
    <p>
        <button onclick="location.href='/Protectora/{{shelter.id}}'; return false;">Cancel</button>
        <input type="submit" value="Save" />
    </p>
</form>

{{>footer}}