{{>header}}
<html>


<body>
    <p>Protectora {{protectora}}</p>

    {{#protectora.animalesProtectora}}

    <li><a href="/Animales/{{id}}"> {{name}}</a></li>
    {{/protectora.animalesProtectora}}

    <p></p>

    {{#logged}}
    {{#admin}}
    <a href="/Protectoras/{{protectora.id}}/crear_Animal" ><button>Crear animal</button></a>
    <button onclick="location.href='/Protectoras/editProtectora/{{protectora.id}}'">Editar</button>
    {{/admin}}
    {{/logged}}


    <p><a href="/Protectoras/"> <button>Volver</button></a></p>
</body>
</html>
{{>footer}}