{{>header}}

{{#logged}}
{{#admin}} <!--Si es admin-->
<h2>Mensajes </h2>
<ul class="items">
    {{#listMsg}}
    <li><a href="/Mensajes/{{id}}"> {{sender}} </a></li>
    {{/listMsg}}
</ul>
{{/admin}}
{{^admin}} <!--Si no es admin-->
<h1>Mensajes mandados</h1>
<ul>
    {{#mails}}
    <li>
        <a href="/Mensajes/{{id}}"> {{description}} </a>
    </li>
    {{/mails}}
</ul>
{{/admin}}
{{^admin}}
<pr></pr>
<a href="/Mensajes/crearMensaje" ><button>Crear mensaje</button></a>
{{/admin}}
{{/logged}}

{{>footer}}