<!DOCTYPE html>
<html lang="es">
<!-- configuración básica -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- para pantallas más pequeñas -->
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- Descripción de titulos -->
	<title>Fluff&Paws</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- para el css -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- Scrollbar -->
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
	<!-- owl stylesheets -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>

<body>
<!-- banner superior -->
<div class="header_section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div><a href="index.html"><img src="/images/logo.png" width="200" height="200" alt=""></a></div>
			</div>
			<div class="col-md-8">
				<div class="menu_text">
					<ul>
						<li class="last">Inicia Sesión / Registrate</li>
						<li class="active">
							<div id="myNav" class="overlay">
								<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
								<div class="overlay-content">
									<a href="index.html">Inicio</a>
									<a href="about.html">Cuidados</a>
									<a href="gallery.html">Adopta</a>
									<a href="shelters.html">Protectoras</a>
									<a href="contact.html">Contacto</a>
								</div>
							</div>
							<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menú</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Fin banner superior -->

	<!-- Inicio apartado de contacto y newsletter -->
	<div class="touch_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="get_taital"><strong><span style="color: #ffffff;">¡Contactactanos!</span></strong></h1>
				</div>
			</div>
			<div class="email_box">
				<div class="input_main">
					<div class="container">
						<form action="/action_page.php">
							<div class="form-group">
								<label>
									<input type="text" class="email-bt" placeholder="Nombre" name="Name">
								</label>
							</div>
							<div class="form-group">
								<label>
									<input type="text" class="email-bt" placeholder="Número de teléfono" name="Phone">
								</label>
							</div>
							<div class="form-group">
								<label>
									<input type="text" class="email-bt" placeholder="Email" name="Email">
								</label>
							</div>

							<div class="form-group">
								<label for="comment"></label><textarea class="massage-bt" placeholder="Mensaje" rows="5" id="comment" name="Message"></textarea>
							</div>
						</form>
					</div>
					<div class="send_btn">
						<button type="button" class="main_bt"><a href="#">Enviar</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="touch_section_2">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="our_texts">Subscríbete a nuestra Newsletter</h1>
					<div class="input-group mb-3">
						<label>
							<input type="text" class="form-control" placeholder="Enter your email">
						</label>
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit">Subscribirme</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fin contacto y newsletter -->

	<!-- banners inferiores -->
	<div class="section_footer">
		<div class="container">
			<div class="mail_section">
				<ul>
					<li class="footer-logo"><img src="/images/footer-logo.png" alt=""></li>
					<li class="footer-logo"><img src="/images/map-icon.png" alt=""><span class="map_text">Gb road 123 london Uk</span></li>
					<li class="footer-logo"><img src="/images/call-icon.png" alt=""><span class="map_text">(+71) 9876543210</span></li>
					<li class="footer-logo"><img src="/images/email-icon.png" alt=""><span class="map_text">Demo@gmail.com</span></li>
				</ul>
			</div>
			<div class="footer_section_2">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-3">
						<h2 class="shop_text">Sobre Fluff&Paws</h2>
						<p class="dummy_text">Somos tres personas apasionadas por los animales. Queremos acercar y simplificar el proceso de adopción tanto a las protectoras como a las familias que quieren darle una mejor vida al que se convertirá en su mejor amigo, así como ayudar a concenciar y aportar información específica sobre el cuidado de cada peludito.</p>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3">
						<h2 class="shop_text">Enlaces de interés</h2>
						<div class="image-icon"><img src="/images/built-icon.png" alt=""><span class="pet_text">Nuestras marcas recomendadas</span></div>
						<div class="image-icon"><img src="/images/built-icon.png" alt=""><span class="pet_text">Educadores caninos</span></div>
						<div class="image-icon"><img src="/images/built-icon.png" alt=""><span class="pet_text">Apadrina a un animal</span></div>
						<div class="image-icon"><img src="/images/built-icon.png" alt=""><span class="pet_text">Asuntos legales</span></div>
						<div class="image-icon"><img src="/images/built-icon.png" alt=""><span class="pet_text">Política de privacidad</span></div>
					</div>
				</div>
			</div>
			<div class="social-icon">
				<div class="row">
					<div class="col-sm-12">
						<div class="icons">
							<ul>
								<li><a href="#"><img src="/images/fb-icon.png" alt=""></a></li>
								<li><a href="#"><img src="/images/twitter-icon.png" alt=""></a></li>
								<li><a href="#"><img src="/images/google-icon.png" alt=""></a></li>
								<li><a href="#"><img src="/images/linkedin-icon.png" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="copyleft">2023 - Licencia Pública General de GNU.</div>
		</div>
	</div>
</div>
<!-- fin banner inferior -->

<!-- Javascript files-->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.0.0.min.js"></script>
<script src="/js/plugin.js"></script>
<!-- sidebar -->
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/custom.js"></script>
<!-- javascript -->
<script src="/static/js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
	$(document).ready(function(){
		$(".fancybox").fancybox({
			openEffect: "none",
			closeEffect: "none"
		});

		$(".zoom").hover(function(){

			$(this).addClass('transition');
		}, function(){

			$(this).removeClass('transition');
		});
	});
</script>


<script>
	function openNav() {
		document.getElementById("myNav").style.width = "100%";
	}

	function closeNav() {
		document.getElementById("myNav").style.width = "0%";
	}
</script>

</body>
</html>

